<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/default.css" />
	</head>
	<body>

		<div id="f-body" class="c1 container-fluid">

			<div class="node h-fl-b c2" id="first">
				<div class="row layer l-body">
					<div class="col-xs-6">
						<h1>Καλωσήρθατε!</h1>
						<p>Ελιτ σορρυμπιθ ηας νο, ιδ εως φιδιτ αλιενυμ σριβενθυρ. Ηις γραεσε ιντελλεγεβαθ ευ, ετ ερυδιθι ωμιτθαμ σιγνιφερυμκυε ιυς, σαεπε νεγλεγενθυρ αν κυο. Πρι πρινσιπες αππελλανθυρ σονσεσθεθυερ αν, συμ δισυντ αλθερυμ δεβιθις νε. Υνυμ ευριπιδις λιβεραφισε περ εξ, νυλλα γραεσω περισυλα δυο αν. Νυλλα νοσθερ δελενιτ ιυς συ. Δεθραξιθ εξπετενδα σαλυταθυς φελ εξ.</p>
						<p>Νο θαμκυαμ φερθερεμ ιυδισαβιτ πρω, νες συ αππαρεατ ινθερεσετ ρεφερρεντυρ. Εσεντ ευισμοδ συ κυο. Ερρεμ υλλαμσορπερ μει ετ, ναμ δισερε φασιλισι ιν. Εως νισλ αλιενυμ επισυρει εα, φαστιδιι σπλενδιδε δισπυθανδο ατ νες.</p>
						<p>Εξ ερρεμ εριπυιτ σομπρεχενσαμ φελ. Νες θε σονγυε μνεσαρσχυμ λιβεραφισε. Κυι φασιλισι φυλπυτατε σονσεκυυντυρ αδ. Υθ κυι ορναθυς βλανδιτ, ιν λαβωρε ασυμσαν ναμ, φελ ερος αδχυς ατ. Κυωδ σενσιβυς οπωρθερε ατ υσυ.</p>
					</div>
					<div class="col-xs-6">
						<h1>Δοκιμή</h1>
						<p>Εκυιδεμ κυαεστιο ευ μει, αδ ηις σαυσαε αλιενυμ σαλυθανδι, κυις ελιτ ιδ νες. Σινγυλις σωνσεκυαθ σεα θε, ετ εαμ ανσιλλαε ποσιδονιυμ. Υλλυμ πωσιθ ηας νο. Συμ φιερενθ δισενθιετ θε, αμετ φασεθε τινσιδυνθ ατ φιξ, ιυς σαυσαε μολεστιε ρεπριμικυε εα. Συμ παυλω νεμωρε νονυμες εξ, εαμ αδ αυτεμ ινερμις ιντελλεγεβαθ.</p>
						<p>Θε φερο σολετ φιμ, θωτα χενδρεριτ σεα υθ. Ταντας λαβιθυρ σεδ ετ, αν χινς φιδερερ δυο, μωδω φασιλισι σριβενθυρ ναμ ει. Περ αδχυς αδιπισι ιρασυνδια θε. Μεα ρεβυμ σριπθα ιν, φιφενδυμ μνεσαρσχυμ ινστρυσθιορ κυι αν.</p>
						<p>Κυι εα στετ αλικυανδο ρεπρεχενδυντ. Νο μωδω περτιναξ φιξ, δεσωρε ασυεφεριθ ετ περ, φιθυπεραθα ασομμοδαρε ινθερπρεταρις μεα νε. Σεα αλια τινσιδυνθ σωνσεθεθυρ αδ, ηας ινδοστυμ τινσιδυνθ νε. Ατ ιλλυδ ορναθυς περ, μεα αεκυε μυνδι τρασθατος ευ, νυλλα ασυμσαν ετ φις. Ιυς ιν ιδκυε πλασεραθ, αν ορναθυς σινγυλις ηας.</p>
						<p>Περ πωσιθ νεγλεγενθυρ αδ, φιθυπεραθα φιθυπερατοριβυς συ φιξ. Νο φευγιαθ σωνφενιρε ινθελλεγαμ κυο, εξ ερυδιθι γυβεργρεν συσιπιαντυρ ευμ, ηις υβικυε συσιπιθ κυαλισκυε ει. Ατ νωμιναφι δεθραξιθ εως, σεθερος ασυσαμ ει εσθ, μελ ατ ιδκυε δεμωσριθυμ. Φασερ φελιτ ναμ νε, νε σεδ εραντ διγνισιμ ρεπριμικυε, ει φιμ φασεθε ινθεγρε ραθιονιβυς.</p>
					</div>
				</div>
			</div>

			<div class="node node-topfix h-b c3">
				<div class="layer l-body">
					Navbar here :P
				</div>
			</div>

			<div class="node h-p2 c3" id="second">
				<div class="layer l-fixed" style="background-image:url(http://thumbs.dreamstime.com/z/white-black-plaid-fabric-background-29360358.jpg)">
					This is a test
				</div>
				<div class="layer l-body row ">
					<div class="col-xs-4">.col-xs-4</div>
					<div class="col-xs-4">.col-xs-4</div>
					<div class="col-xs-4">.col-xs-4</div>
				</div>
				<div class="layer l-parallax">
					Front parallax
				</div>
				<div class="layer l-parallax l-back">
					Back parallax
				</div>
			</div>

			<div class="node h-p2 c4" id="third">
				<div class="layer l-parallax l-back" style="background-image:url(../static/img/back-4e.png)">
				</div>
				<div class="layer l-fixed">
					This is a second test
				</div>
				<div class="layer row l-body">
					<div class="col-md-2 hidden-xs hidden-sm">.col-md-2</div>
					<div class="col-md-8">
						<h1>Κεντρική σελίδα</h1>
						<p>Λωρεμ φιθαε ινθελλεγαμ μελ ατ. Φασερ μυνερε ει ηις. Μελ φασερ κυοδσι νο, αν μεα λυδυς διγνισιμ υρβανιθας. Ει νες ιλλυμ μαιορυμ φιθυπεραθα. Νες αν μυτατ ρεγιονε ιντελλεγεβαθ. Ευ θαθιων προμπτα λαβωραμυς κυι. Κυας φολυτπατ ινσιδεριντ ιδ μει.</p>
						<p>Φερι πχαεδρυμ ευμ υθ, αν φαβυλας συσιπιθ σιγνιφερυμκυε μεα. Νοβις δομινγ μολλις ατ δυο, πρω εα ρεστεκυε πρινσιπες. Νες ει χαρυμ αππαρεατ εξπλισαρι. Νες δισαμ προμπτα νυμκυαμ ιν, νωμιναφι σονσλυσιονεμκυε κυι ιν. Γραεσις νεσεσιταθιβυς ετ φις, εαμ εξ πωσε δωλορε σεθερος.</p>
					</div>
					<div class="col-md-2 hidden-xs hidden-sm">.col-md-2</div>
				</div>
			</div>

			<div class="node h-p1 c5" id="fourth">
				<div class="layer l-body row">
					<div class="col-xs-2">

					</div>
				</div>
			</div>

			<div class="node h-p2 c6 loading" id="sixth">

			</div>

			<div class="node h-p2 c7" id="seventh">

			</div>

		</div>

		<script type="text/javascript" src="../static/js/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../static/js/default.js"></script>
		<script type="text/javascript">F.Initialize();</script>

	</body>
</html>